#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<?php
{

$pm25now = "$current.pm2_5.format(add_label=False, $localize=False)";
$pm10now = "$current.pm10_0.format(add_label=False, $localize=False)";
$pm25 = "$span($hour_delta=24).pm2_5.avg.format(add_label=False, $localize=False)"; 
$pm10 = "$span($hour_delta=24).pm10_0.avg.format(add_label=False, $localize=False)";
}
    ?>