@font-face {
	font-family: weathertext2;
	src: url(css/fonts/verbatim-regular.woff) format("woff"), url(fonts/verbatim-regular.woff2) format("woff2"), url(fonts/verbatim-regular.ttf) format("truetype")
}

html,
body {
	font-size: 13px;
	font-family: "weathertext2", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: white;
    color: black;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(185px, 2fr));
	grid-gap: 5px;
	align-items: stretch;
	color: #f5f7fc;
}

.grid>article {
	border: 1px solid rgba(245, 247, 252, .02);
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
	padding: 5px;
	font-size: 0.8em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 105px;
}

.grid1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	grid-gap: 5px;
	align-items: stretch;
	color: black;
	margin-top: 5px
}

.grid1>articlegraph {
	border: 1px solid rgba(245, 247, 252, .02);
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
	padding: 5px;
	font-size: 0.8em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 112px;
}


/* unvisited link */

a:link {
	color: black;
}


/* visited link */

a:visited {
	color: black;
}


/* mouse over link */

a:hover {
	color: black;
}


/* selected link */

a:active {
	color: white;
}

.weather34darkbrowser {
	position: relative;
	background: 0;
	width: 97%;
	height: 30px;
	margin: auto;
	margin-top: -5px;
	margin-left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
    color: black;
}

.weather34darkbrowser[url]:after {
	content: attr(url);
	color: black;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 4px 15px;
	margin: 11px 10px 0 auto;
	font-family: arial;
	height: 20px;
}

.hitempyposx {
	position: relative;
	top: -90px;
	margin-left: 20px;
	margin-bottom: -30px
}

.hitempypos {
	position: absolute;
	margin-top: -70px;
	margin-left: 23px;
	margin-bottom: 20px;
	display: block;
}

.hitempypos2 {
	position: absolute;
	margin-top: -25px;
	margin-left: 23px;
	margin-bottom: 20px;
	display: block;
}

.hitempd {
	position: absolute;
	font-family: weathertext2, Arial, Helvetica, sans-serif;
	background: 0;
	color: black;
	font-size: 0.7rem;
	width: 120px;
	padding: 0;
	margin-left: 32px;
	padding-left: 3px;
	align-items: center;
	justify-content: center;
	display: block;
	margin-top: -20px;
}

.hitempd1 {
	position: absolute;
	font-family: weathertext2, Arial, Helvetica, sans-serif;
	background: 0;
	color: black;
	font-size: 0.7rem;
	width: 120px;
	padding: 0;
	margin-left: 32px;
	padding-left: 3px;
	align-items: center;
	justify-content: center;
	display: block;
	margin-top: 10px;
}

.hitempd2 {
	position: absolute;
	font-family: weathertext2, Arial, Helvetica, sans-serif;
	background: 0;
	color: black;
	font-size: 0.7rem;
	width: 90px;
	padding: 0;
	margin-left: 32px;
	padding-left: 3px;
	align-items: center;
	justify-content: center;
	display: block;
	margin-top: -15px;
}

.actual {
	font-size: 2rem;
	float: right;
	position: absolute;
	left: 120px;
	top: 25px;
	background: 0;
	padding: 2px;
	font-weight: normal;
	color: rgba(74, 99, 111, 0.5);
	margin-bottom: 5px;
}

.actual1 {
	font-size: 11px;
	float: none;
	position: absolute;
	left: 10px;
	top: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(86, 95, 103, 0.2);
	padding: 1px;
	font-weight: normal;
	margin-bottom: 5px;
}

.hitemp {
	color: #aaa;
	font-size: 0.7rem;
	display: inline;
}

.hitemp span {
	color: rgba(255, 124, 57, 1.000)
}

blue {
	color: rgba(0, 154, 171, 1.000)
}

.temperaturecontainer1 {
	position: absolute;
	left: 20px;
	margin-top: -5px;
	margin-bottom: 20px;
}

.temperaturecontainer2 {
	position: absolute;
	left: 20px;
	margin-top: 60px
}

.temperaturetrend1,
.temperaturecaution,
.temperaturetrend {
	position: absolute;
	font-size: 0.85rem
}

.temperaturetodayminus10,
.temperaturetodayminus5,
.temperaturetodayminus,
.temperaturetoday0-5,
.temperaturetoday6-10,
.temperaturetoday11-15,
.temperaturetoday16-20,
.temperaturetoday21-25,
.temperaturetoday26-30,
.temperaturetoday31-35,
.temperaturetoday36-40,
.temperaturetoday41-45 {
	font-family: weathertext2, Arial, Helvetica, system;
	width: 3.75rem;
	height: 1.75rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	display: flex;
	font-size: .95rem;
	padding-top: 2px;
	color: #fff;
	border-bottom: 11px solid rgba(56, 56, 60, 1);
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.temperaturetodayminus10 {
	background: background:#00a4b4;
	background: -webkit-linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1));
	background: linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1))
}

.temperaturetodayminus5 {
	background: background:#00a4b4;
	background: -webkit-linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1));
	background: linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1))
}

.temperaturetodayminus {
	background: background:#00a4b4;
	background: -webkit-linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1));
	background: linear-gradient(270deg, #00a4b4, rgba(80, 69, 188, 1))
}

.temperaturetoday0-5 {
	background: #00a4b4;
	background: -webkit-linear-gradient(270deg, #00a4b4, #087883);
	background: linear-gradient(270deg, #00a4b4, #087883)
}

.temperaturetoday6-10 {
	background: #88b04b;
	background: -webkit-linear-gradient(90deg, #00a4b4, #88b04b);
	background: linear-gradient(90deg, #00a4b4, #88b04b)
}

.temperaturetoday11-15 {
	background: #e6a141;
	background: -webkit-linear-gradient(90deg, #90b12a, #e6a141);
	background: linear-gradient(90deg, #90b12a, #e6a141)
}

.temperaturetoday16-20 {
	background: #ff7c39;
	background: -webkit-linear-gradient(90deg, #90b12a, #ff7c39);
	background: linear-gradient(90deg, #90b12a, #ff7c39)
}

.temperaturetoday21-25 {
	background: #ff7c39;
	background: -webkit-linear-gradient(90deg, #e6a141, #ff7c39);
	background: linear-gradient(90deg, #e6a141, #ff7c39)
}

.temperaturetoday26-30 {
	background: #d05f2d;
	background: -webkit-linear-gradient(90deg, #d05f2d, rgba(236, 102, 21, 1));
	background: linear-gradient(90deg, #d05f2d, rgba(236, 102, 21, 1))
}

.temperaturetoday31-35 {
	background: #d86858;
	background: -webkit-linear-gradient(90deg, #d86858, rgba(211, 93, 78, .7));
	background: linear-gradient(90deg, #d86858, rgba(211, 93, 78, .7))
}

.temperaturetoday36-40 {
	background: #fd7641;
	background: -webkit-linear-gradient(90deg, #fd7641, #637ff6);
	background: linear-gradient(90deg, #fd7641, #637ff6)
}

.temperaturetoday41-45 {
	background: #de2c52;
	background: -webkit-linear-gradient(90deg, #de2c52, #637ff6);
	background: linear-gradient(90deg, #de2c52, #637ff6)
}

.temperaturetrend {
	margin-left: 10px;
	margin-top: -20.5px;
	z-index: 1;
	color: #fff;
	font-size: .6rem;
}

.temperaturetrend1 {
	margin-left: 7px;
	margin-top: -20.5px;
	z-index: 1;
	color: #fff;
	font-size: .6rem;
}

.temperaturetrend2 {
	margin-left: 0px;
	margin-top: -20px;
	z-index: 1;
	color: #fff;
	font-size: .5rem;
	position: absolute
}

smalluvunit {
	font-size: .7rem;
	font-family: weathertext2, Arial, Helvetica, system;
}

.w34convertrain {
	position: relative;
	font-size: .5em;
	top: 10px;
	color: #c0c0c0;
	margin-left: 5px
}

.hitempy {
	position: relative;
	background: rgba(61, 64, 66, 0.5);
	color: #aaa;
	width: 90px;
	padding: 1px;
	-webit-border-radius: 2px;
	border-radius: 2px;
	margin-top: -20px;
	margin-left: 98px;
	padding-left: 3px;
	line-height: 11px;
	font-size: 9px
}

.actualt {
	position: relative;
	left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: teal;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
	height: 0.8em;
	font-size: 0.8rem;
	padding-top: 2px;
	color: white;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	top: 0;
	text-align: center;
}

.actualw {
	position: relative;
	left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: rgba(74, 99, 111, 0.1);
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100px;
	height: 0.8em;
	font-size: 0.8rem;
	padding-top: 2px;
	color: #aaa;
	border-bottom: 2px solid rgba(56, 56, 60, 1);
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	top: 0
}

.actual {
	position: relative;
	left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	width: 95%;
	height: 0.8em;
	font-size: 0.8rem;
	padding-top: 2px;
	color: #aaa;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	top: 0
}

