@font-face{font-family:weathertext2;src:url(css/fonts/verbatim-regular.woff) format("woff"),url(fonts/verbatim-regular.woff2) format("woff2"),url(fonts/verbatim-regular.ttf) format("truetype")}
html,body{
  font-size:13px;
  font-family: "weathertext2", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale; 
  background-color: white;
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  grid-gap: 5px;
  align-items: stretch;
  color:black;
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;
  
  }
.grid > article {
  border: 1px solid #212428;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding:5px;
  font-size:0.8em;
  -webkit-border-radius:4px;
  border-radius:4px;
  height:160px;
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;
}

.grid1 { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(382px, 1fr));
  grid-gap: 5px;
    color:#f5f7fc;
  
  }

.grid1 > articlegraph {
   border: 1px solid rgba(245, 247, 252,.02);
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.6);
  padding:5px;
  font-size:0.8em;
  -webkit-border-radius:4px;
  border-radius:4px;
  background:0;
  -webkit-font-smoothing: antialiased;	
  -moz-osx-font-smoothing: grayscale;
  height:160px  
}

  
.weather34darkbrowser {
  position: relative;
  background: 0;
  width: 97%;
  height: 30px;
  margin: auto;
  margin-top: -5px;
  margin-left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
}
.weather34darkbrowser[url]:after {
  content: attr(url);
  color: black;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 4px 15px;
  margin: 11px 10px 0 auto;
  font-family: arial;
  height: 20px;

}
blue {
  color: #01a4b4;
}
orange {
  color: #009bb4;
}
orange1 {
  position: relative;
  color: #009bb4;
  margin: 0 auto;
  text-align: center;
  margin-left: 5%;
  font-size: 1.1rem;
}
green {
  color: #aaa;
}
red {
  color: #f37867;
}
red6 {
  color: #d65b4a;
}
value {
  color: #fff;
}
yellow {
  color: #cc0;
}
purple {
  color: #916392;
}
.temperaturecontainer1 {
  position: relative;
  left: 10px;
  margin-top: 0px;
}
.temperaturecontainer2 {
  position: relative;
  left: 10px;
  margin-top: 0px;
}
.temperaturetoday0,
.temperaturetoday10,
.temperaturetoday18,
.temperaturetoday24,
.temperaturetoday30 {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 8rem;
  height: 2.3rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  display: flex;
  font-size: 1.2rem;
  padding-top: 2px;
  color: #fff;
  border-bottom: 15px solid rgba(56, 56, 60, 1);
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-bottom: 10px;
}
.temperaturecaution,
.temperaturetrend,
.temperaturetrend1 {
  position: absolute;
  font-size: 1rem;
}
.temperaturetoday0 {
  background: rgba(68, 166, 181, 1);
}
.temperaturetoday10 {
  background: rgba(144, 177, 42, 1);
}
.temperaturetoday18 {
  background: rgba(230, 161, 65, 1);
}
.temperaturetoday24 {
  background: rgba(255, 124, 57, 1);
}
.temperaturetoday30 {
  background: rgba(211, 93, 78, 1);
}
.temperaturetrend {
  margin-left: 30px;
  margin-top: -23px;
  z-index: 1;
  color: #fff;
  font-size: 0.7rem;
}
.temperaturetrend1 {
  margin-left: 10px;
  margin-top: -23px;
  z-index: 1;
  color: #fff;
  font-size: 0.7rem;
}

.w34convertrain {
  position: relative;
  font-size: 0.5em;
  top: 10px;
  color: #c0c0c0;
  margin-left: 5px;
}
indoorblue1,
indoorgreen1,
indoororange1,
indoorred1,
indooryellow1 {
  padding: 5px;
}
.indoorhomesvg1 {
  margin-top: -22px;
  left: 0px;
  color: rgba(53, 56, 58, 1);
  margin-left: 0;
}
.weather34indoorword {
  margin-left: 127px;
  margin-top: 42px;
}
.indoortrendhouse1 {
  position: absolute;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 0.65rem;
  z-index: 1;
  color: #fff;
}
.indoorhomevalue1,
.indoorhomevalue2 {
  font-size: 23px;
  padding-right: 4px;
  padding-left: 0;
}
.indoorhomevalue1 {
  position: relative;
  margin-top: -89px;
  left: 0;
}
.indoorhomesvg2 {
  margin-top: -22px;
  left: 53px;
  color: rgba(53, 56, 58, 1);
  margin-left: -40px;
}
.indoortrendhouse2 {
  position: absolute;
  margin-left: 195px;
  margin-top: 25px;
}
.indoorhomevalue2 {
  position: relative;
  margin-top: -79px;
  left: 0;
}

indoorblue1,
indoorgreen1,
indoororange1,
indoorred1,
indooryellow1 {
  font-family: weathertext, Arial, Helvetica, system;
  width: 3.4rem;
  height: 1.7rem;
  font-size: 1rem;
  padding-top: 10px;
  color: #fff;
  background: rgba(59, 156, 172, 1);
  border-bottom: 12px solid rgba(56, 56, 60, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  margin-left: 53px;
  top: -14px;
}
indoorred1 {
  background: #e27667;
}
indoororange1 {
  background: #ff8841;
}
indoorgreen1 {
  background: #9aba2f;
}
indoorblue1 {
  background: #01a4b4;
}
indooryellow1 {
  background: rgba(233, 171, 74, 1);
}
smallrainunit {
  font-size: 0.7em;
}
.tempconvertercircleblue,
.tempconvertercirclegreen.tempconvertercirclegreen,
.tempconvertercircleorange,
.tempconvertercirclered,
.tempconvertercircleyellow {
  background: rgba(144, 177, 42, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 5rem;
  border: 2px solid rgba(56, 56, 60, 1);
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
  line-height: 16px;
  font-family: weathertext, Arial, Helvetica, system;
  font-size: 1em;
}
.tempconvertercircleyellow {
  background: rgba(230, 161, 65, 0.8);
}
.tempconvertercircleorange {
  background: rgba(255, 124, 57, 0.8);
}
.tempconvertercirclered {
  background: rgba(211, 93, 78, 0.8);
}
.tempconvertercircleblue {
  background: rgba(59, 156, 172, 0.6);
}
.tempconvertercirclegreen {
  background: rgba(144, 177, 42, 1);
}
.tempindoorconverter {
  position: absolute;
  margin-left: 230px;
  margin-top: 20px;
  font-size: 12px;
}
smallsup {
  color: #aaa;
  font-size: 0.5rem;
  font-family: Arial, Helvetica, system;
}
.tempconverter1 {
  position: absolute;
  margin-left: 55px;
  margin-top: 0;
  font-size: 12px;
}
humgreen {
  color: rgba(132, 169, 39, 1);
}
humred {
  color: #e27667;
}
humyellow {
  color: rgba(231, 150, 59, 1);
}
humblue {
  color: rgba(0, 155, 180, 1);
}
humorange {
  color: #ff832f;
}
.hitempy {
  position: relative;
  background: rgba(61, 64, 66, 0.5);
  color: #aaa;
  font-size: 12px;
  width: 90px;
  padding: 1px;
  -webit-border-radius: 2px;
  border-radius: 2px;
  margin-top: -20px;
  margin-left: 92px;
  padding-left: 3px;
  line-height: 11px;
  font-size: 10px;
}
.actualt {
  position: relative;
  left: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: teal;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 130px;
  height: 0.85em;
  font-size: 0.8rem;
  padding-top: 1px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  top: 0;
}
smalluvunit {
  font-size: 0.5rem;
  font-family: weathertext2, Arial, Helvetica, system;
  vertical-align: super;
}
smalltempunit {
  font-size: 0.85rem;
  font-family: weathertext2, Arial, Helvetica, system;
  vertical-align: super;
  color: #aaa;
}
smallhumunit {
  font-size: 0.85rem;
  font-family: weathertext2, Arial, Helvetica, system;
  vertical-align: super;
}

.indoorsvgnest {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}
.indoorsvgnestvalue {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.55em;
  font-family: weathertext2;
  position: absolute;
}

.weather34indoortrendup {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #d35d4e;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoortrenddown {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #00a4b4;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoortrendsteady {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #90b12a;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  left: 130px;
  top: 128px;
}

.weather34indoorcomfort {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 4rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #90b12a;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoorhumid {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 4rem;
  height: 1rem;
  font-size: 0.89rem;
  padding-top: 0;
  color: #fff;
  background: #00a4b4;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoordry {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 4rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #d35d4e;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  left: 130px;
  top: 128px;
}

.weather34indoorwarm {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #ff832f;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoorcold {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: #00a4b4;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoormild {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: rgba(230, 161, 65, 1);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoorhot {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.8rem;
  padding-top: 0;
  color: #fff;
  background: rgba(211, 93, 78, 1);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  left: 130px;
  top: 128px;
}
.weather34indoorpm {
  font-family: weathertext2, Arial, Helvetica, system;
  width: 3.2rem;
  height: 1rem;
  font-size: 0.65rem;
  padding-top: 0;
  color: #fff;
  background: #00a4b4;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 130px;
  top: 128px;
}
          
            div.output{
                width:90px;
                height:90px;
                position: absolute;
                left:45px;
                top:86px;
                color:#fff;
                text-transform: uppercase;
                text-align: center;                
				margin:0 auto;
				display:flex;align-items:center;justify-content:center;
            }

            div.output small{
                display: block;
                margin:0;
                padding: 0;
                font-size: 1em;
                color:black;
               
            }

        
.trendicon{margin:0 auto;display:flex;margin-top:37px;align-items:center;justify-content:center;font-size:1.85em;font-family:weathertext2;position:absolute;}
.airqicon{margin:0 auto;display:flex;margin-top:37px;align-items:center;justify-content:center;font-size:1.85em;font-family:weathertext2;position:absolute;color:<?php 
if($aqiweather["aqi"]>300)echo "#99020d";
else if($aqiweather["aqi"]>200)echo "#a968b3";
else if($aqiweather["aqi"]>150)echo "#d35d4e";
else if($aqiweather["aqi"]>100)echo "#d05f2d";
else if ($aqiweather["aqi"]>=50) echo "#e6a141";
else if ($aqiweather["aqi"]>=0) echo "#90b12a";
?>;}
.humicon{margin:0 auto;display:flex;margin-top:37px;align-items:center;justify-content:center;font-size:1.85em;font-family:weathertext2;position:absolute;color:
<?php if($weather["humidity_indoor"]<35)echo "#d35d4e";
else if($weather["humidity_indoor"]<60)echo "#e6a141";
else if($weather["humidity_indoor"]<80)echo "#ec5519";
else if($weather["humidity_indoor"]<=100)echo "#44a6b5";?>;}

.tempicon{margin:0 auto;display:flex;margin-top:37px;align-items:center;justify-content:center;font-size:1.85em;font-family:weathertext2;position:absolute;color:
<?php  
if($weather["temp_units"]=='F' &&  $weather["temp_indoor"]>78.8)echo "#d35d4e";
else if($weather["temp_units"]=='F' &&  $weather["temp_indoor"]>64.4)echo "#ff832f";
else if($weather["temp_units"]=='F' &&  $weather["temp_indoor"]>59)echo "#e6a141";
else if($weather["temp_units"]=='F' &&  $weather["temp_indoor"]>0)echo "#44a6b5";
else if ($weather["temp_indoor"]>=26) echo "#d35d4e";
else if ($weather["temp_indoor"]>18) echo "#ff832f";
elseif ($weather["temp_indoor"]>15) echo "#e6a141";
else if ($weather["temp_indoor"]>=0) echo "#44a6b5";
?>;}


