	.demo {
		border:0px solid #aaa;
		border-collapse:collapse;
		padding:50px;
        font-family:arial, helvetica, verdana, sans-serif;
        font-size: 10px;
        margin-bottom: 50px; /*whatever distance you want between the two tables*/
        margin-top: 50px
        margin-left: 50%;
        margin-right: -50%;
        width: 100%;
        color: black;
	}
	.demo th {
		border:1px solid #aaa;
		padding:5px;
        color: black;
        
	}
	.demo td {
		border:1px solid #aaa;
		padding:10px;
		background:#FFFFFF;
        text-align:center;
	}
    .demo td#CELL1 {
		background-color:transparent;
        color:black;
	}
    .demo td#CELL2 {
		background-color:#9cff9c;
	}
    .demo td#CELL3 {
		background-color:#31ff00;
	}
    .demo td#CELL4 {
		background-color:#31cf00;
	}
    .demo td#CELL5 {
		background-color:#ff0;
	}
    .demo td#CELL6 {
		background-color:#ffcf00;
	}
    .demo td#CELL7 {
		background-color:#ff9a00;
	}
    .demo td#CELL8 {
		background-color:#ff6464;
	}
    .demo td#CELL9 {
		background-color:red;
        color:white;
	}
    .demo td#CELL10 {
		background-color:#900;
        color:white;
	}
    .demo td#CELL11 {
		background-color:#ce30ff;
        color:white;
	}
img {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  background-color: transparent;
}

.alert-row {
  display: flex;
  flex-direction: row;
  height: 120px;
  padding: 10px 0;
  background-color: whitesmoke;
}

.alert-row-narrow {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px 0;
  background-color: whitesmoke;
  font-size: 12px;
}

.alert-row-info {
  display: flex;
  flex-direction: row;
  height: 120px;
  padding: 10px 0;
  background-color: whitesmoke;
}

.alert-text-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  color: black;
}

.alert-text-container-narrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
/* unvisited link */
body {
  background-image: url();
  margin-left: 8px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  background-color: white;
}
html {
  margin: 0;
  padding: 0;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}
.LegendText2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: black;
  font-weight: normal;
}

.Ebene3Header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

table {
  font-size: 11px;
  vertical-align: bottom;
  width: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
  color: #f5f7fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid > article {
  border: 1px solid #212428;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 5px;
  color: black;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 0px;
  color: black;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 20px;
  color: black;
}
.grid1 > articlegraph {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 100%;
}
.grid2 > articlegraph2 {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 100%;
}
.grid3 > articlegraph3 {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 90%;
}
.grid1 > articlegraph_lg {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: lightgreen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 80px;
}
.grid1 > articlegraph_te {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: teal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 15px;
}
.grid1 > articlegraph_ye {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: yellow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 80px;
}
.grid1 > articlegraph_or {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: orange;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 90px;
}
.grid1 > articlegraph_re {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 100px;
}
.grid_FT {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 1px;
  align-items: stretch;
  color: #f5f7fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid_FT > articlegraph_FT {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 15px;
}
.grid_MET {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 5px;
  color: black;
}
.grid_MET > articlegraph_MET {
  border: 1px solid rgba(245, 247, 252, 0.02);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 0.8em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 790px;
  height: 90%;
}
.weather34darkbrowser {
  position: relative;
  width: 97%;
  height: 30px;
  margin: auto;
  margin-top: -5px;
  margin-left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
  color: black;
}

.weather34darkbrowser[url]:after {
  content: attr(url);
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 4px 15px;
  margin: 11px 10px 0 auto;
  font-family: arial;
  height: 20px;
}
.actualt {
  position: relative;
  left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: teal;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 790px;
  height: 0.8em;
  font-size: 0.8rem;
  padding-top: 2px;
  color: white;
  border-bottom: 2px solid rgba(56, 56, 60, 1);
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  top: 0;
}
blue {
  color: #01a4b4;
}

orange {
  color: #009bb4;
}

orange1 {
  color: rgba(255, 131, 47, 1);
}

green {
  color: #aaa;
}

red {
  color: #f37867;
}

red6 {
  color: #d65b4a;
}

value {
  color: #fff;
}

yellow {
  color: #cc0;
}

purple {
  color: #916392;
}
.roundcornerframe {
  position: relative;
  width: 790px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px auto 0px auto;
}
#container {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 350px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}