body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  font-size: 8px;
  position: absolute;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
}

svg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

