body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: white
}

h1 {
    color: rgba(86, 95, 103, 1.000);
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 10px 0
}

h2 {
    color: rgba(86, 95, 103, 1.000);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 10px 0
}

h3 {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    margin: 20px 0
}

.weathersetuptitle {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: 0;
    background: rgba(67, 58, 80, 1.000);
    border-radius: 5px;
    color: #fff;
    width: 600px;
    margin: 0 auto;
    border: 0;
    border: 1px solid #777
}

.theframe1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 0px solid #777;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1024px;
    background: 0;
    padding: 5px;
    border-radius: 4px
}

.theframe {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 5px solid rgba(24, 25, 27, 0.2);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 960px;
    background: white;
    padding: 5px;
    border-radius: 4px
}

.weatheroptions {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e9ebf1;
    border-bottom: 18px solid #e9ebf1;
    width: 75%
}

.weatheroptionssidebar {
    margin: 1px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #e9ebf1;
    border-bottom: 18px solid #f6f8fc;
    width: 200px;
    position: relative;
    float: right;
    margin: 5px;
    color: #777
}

.weatheroptionssidebarbottom {
    margin: 1px;
    margin-top: -145px;
    margin-left: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #e9ebf1;
    border-bottom: 18px solid #f6f8fc;
    width: 200px;
    position: relative;
    float: right;
    color: #777
}

.weatherbottominfo {
    position: absolute;
    font-size: 12px;
    color: #777;
    padding: 3px;
    margin-top: 3px
}

.weatherbottomwarning {
    position: absolute;
    font-size: 12px;
    color: #777;
    padding: 3px;
    margin-top: 7px
}

.weatheroptions .button {
    background: rgba(240, 94, 64, 1);
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    -webkit-appearance: none
}

.weatheroptions .choose {
    background: rgba(24, 25, 27, 0.8);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 160px;
    max-width: 400px;
    outline: 0;
    -webkit-appearance: none;
    text-align: left
}

.weatheroptions .choose1 {
    background: rgba(24, 25, 27, 0.8);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 130px;
    outline: 0;
    -webkit-appearance: none
}

.weatheroptions .choose2 {
    background: rgba(86, 95, 103, 1.000);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 100px;
    outline: 0;
    -webkit-appearance: none
}

.weatheroptions .chooseapi {
    background: rgba(24, 25, 27, 0.8);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 300px;
    outline: 0;
    -webkit-appearance: none;
    text-align: left
}

.weatheroptions .personal {
    background: rgba(24, 25, 27, 0.8);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    width: 99%;
    outline: 0;
    -webkit-appearance: none;
    text-align: left
}

.weatheroptions .stationvalue {
    background: rgba(86, 95, 103, 1.000);
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none
}

.weatheroptions .stationvalue1 {
    background: #777;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none
}

.weathersectiontitle {
    background: #777;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    margin: 5px;
    display: inline-block;
    -webkit-appearance: none
}

.weatheroptions a {
    font-size: 14px;
    color: rgba(86, 95, 103, 1.000);
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    text-transform: none;
    outline: 0;
    -webkit-appearance: none
}

a {
    font-size: 14px;
    color: rgba(86, 95, 103, 1.000);
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    text-transform: none;
    outline: 0;
    -webkit-appearance: none
}

#weatherpopupcontainer {
    width: 960px;
    margin: auto;
    padding: 30px
}

p {
    margin-bottom: 20px;
    line-height: 24px
}

#hover {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    opacity: .6
}

#weatherpopup {
    position: fixed;
    width: 600px;
    height: 320px;
    background: white;
    left: 50%;
    top: 25%;
    border-radius: 5px;
    padding: 60px 0;
    margin-left: -320px;
    margin-top: -100px;
    text-align: center;
    border: 1px solid #e9ebf1;
    border-bottom: 23px solid rgba(40, 39, 39, 0.7);
    color: #fff;
    padding: 10px
}

.weatherpopupbottom {
    margin-top: 55px;
    padding: 10px;
    float: left;
    color: #fff;
    position: absolute;
    font-size: 11px
}

#close {
    position: absolute;
    background: white;
    color: #fff;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial', Arial, sans-serif;
    cursor: pointer
}

body {
    background: white
}

.seperator {
    width: 700px;
    border-top: 1px #ddd dotted;
    margin-top: 5px;
    padding: 10px
}

* {
    box-sizing: border-box
}

*:focus {
    outline: 0
}

.login {
    margin: 0 auto;
    width: 300px;
    background-color: none
}

a {
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    color: #2095a7
}

a:hover {
    color: #7bbb28
}

.login-screen {
    background-color: none;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto
}

.app-title {
    text-align: center;
    color: #ccc;
    background-color: none
}

.login-form {
    text-align: center;
    background-color: none
}

.control-group {
    margin-bottom: 10px
}

input {
    text-align: center;
    background-color: #777;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    color: #fff;
    border: 2px solid rgba(86, 95, 103, 1.000);
    box-shadow: none;
    margin: 0 auto;
    margin-top: 10px
}

input:focus {
    border: 2px solid rgba(86, 95, 103, 1.000);
    box-shadow: none
}

select {
    margin: 0 auto;
    margin-top: 10px
}

.btn {
    border: 2px solid transparent;
    background: rgba(86, 95, 103, 1.000);
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: .25s;
    display: block;
    width: 150px;
    margin: 10px;
    text-align: center;
    -webkit-appearance: none
}

.btn:hover {
    background-color: rgba(86, 95, 103, 1.000)
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px
}

.loginformarea {
    margin: 0 auto;
    text-align: center
}

orange {
    color: rgba(236, 87, 27, 1.000)
}

green {
    color: rgba(67, 58, 80, 1.000)
}

blue {
    color: rgba(67, 58, 80, 1.000)
}

img {
    border-radius: 4px;
}

white {
    color: #fff
}

.input-button,
.modal-button {
    font-size: 18px;
    padding: 10px 40px
}

.input-block input,
.input-button,
.modal-button {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
}

.icon-button,
.input-block input,
.input-button,
.modal-button {
    outline: 0;
    cursor: pointer
}

.modal-button {
    color: #7d695e;
    border-radius: 5px;
    background: rgba(230, 232, 239, 1.000);
    width: 120px;
    text-align: center
}

.modal-button:hover {
    border-color: rgba(255, 255, 255, .2);
    background: rgba(144, 177, 42, 1);
    color: #f8f8f8
}

.input-button {
    color: #7d695e;
    border-radius: 5px;
    background: #fff
}

.input-button:hover {
    background: rgba(144, 177, 42, 1);
    color: #fff
}

.input-label {
    font-size: 11px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 600;
    letter-spacing: .7px;
    color: #8c7569;
}

.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.input-block input {
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 5px;
    background: rgba(144, 177, 42, 1)
}

.input-block input::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

.input-block input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}

.input-block input::-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}

.input-block input::placeholder {
    color: #ccc;
    opacity: 1
}

.input-block:focus-within {
    border-color: #8c7569
}

.input-block:focus-within .input-label {
    color: rgba(140, 117, 105, .8)
}

.icon-button {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    background: 0;
    padding: 0
}